# to install run command: pip install -r requirements.txt

# ---- Core RL + Sim ----
numpy==1.26.4
gymnasium>=0.29,<1.0
stable-baselines3==2.3.2
mujoco==3.2.0
torch>=2.3

# ---- Utils / logging ----
tqdm==4.66.4
rich>=13.5.0
pandas==2.2.3
matplotlib==3.9.2

# ---- Vision / video (pick one OpenCV depending on environment) ----
# For laptops / local dev with GUI windows:
opencv-python==4.10.0.84
# For servers/HPC without GUI (comment out the line above and use this instead):
# opencv-python-headless==4.10.0.84

Pillow>=10.0.0
imageio>=2.34
imageio-ffmpeg>=0.5.0

# Jupyter notebooks
jupyterlab==4.2.5

moviepy==1.0.3

ffmpeg==1.4
