experiment:
  name: "z1_reach_ppo_v1"
  log_dir: "logs/reach/"
  checkpoint_dir: "policies/reach/"

environment:
  model_path: "models/z1scene.xml"
  success_threshold: 0.04
  max_episode_steps: 1200

agent:
  ppo:
    ent_coef: 0.01

training:
  total_timesteps: 500000
  n_envs: 8
  eval_freq: 10000
  checkpoint_freq: 25000
